[cola]
	fontdiff = Terminus,10,-1,5,50,0,0,0,0,0
[alias]
	st = status --short --branch
	ci = commit
	br = branch
	co = checkout
    df = diff
    dfa = log @{upstream}.. --patch   ; diff commits ahead
    dfb = log ..@{upstream} --patch   ; diff commits behind
    dfs = diff --staged
    lg = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --date=short
    lga = log @{upstream}.. --pretty=format:"%C(yellow)%h\\ %ad\\ %Creset%s%Cblue\\ [%cn]" --date=short ; log commits ahead
    lgb = log ..@{upstream} --pretty=format:"%C(yellow)%h\\ %ad\\ %Creset%s%Cblue\\ [%cn]" --date=short ; log commits behind
	who = shortlog --summary --
    lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
    sync = pull --rebase
[color]
	ui = true
[core]
	autocrlf = input
	safecrlf = true
